<div id="main_container">
  <div id="users_container">
    <div id="profile">
      <input id="profile_button" type="button" onclick="profile()" value="Профиль >">
    </div>
    <input id="info_search" type="search" value="Найти">
    <div id="users_list">
      <div class="user_info">
        <div class="user_foto"></div>
        <div class="user_name">Иван</div>
        <div class="user_last_time">10.11</div>
        <div class="user_no_read_messages">3</div>
      </div>
      <div class="user_info">
        <div class="user_foto"></div>
        <div class="user_name">Костя</div>
        <div class="user_last_time">10.11</div>
        <div class="user_no_read_messages">3</div>
      </div>
      <div class="user_info">
        <div class="user_foto"></div>
        <div class="user_name">Петя</div>
        <div class="user_last_time">10.11</div>
        <div class="user_no_read_messages">3</div>
      </div>
      <div class="user_info">
        <div class="user_foto"></div>
        <div class="user_name">Саша</div>
        <div class="user_last_time">10.11</div>
        <div class="user_no_read_messages">3</div>
      </div>
    </div>
  </div>
  <div id="message_container">
    <div id="selected_user">
      Иван
    </div>
    <div id="message_list">
      
      <div class="message_history_my">Сообщение 1</div>
      <div class="message_history">Сообщение 2 </div>
      <div class="message_history_my">Сообщение 3</div>
      <div class="message_history">Сообщение 4</div>
    </div>
    <div id="message_new">
      <textarea id="message_input" name="comment">message</textarea></p>
      <input id="message_button" type="button" value="Отправить">
    </div>
  </div>
</div>
