
  <title>Вход</title>
  
  <form id="login_container">
      <div id="text_enter">Вход</div>
      <p>Логин</p>
      <input name="login" type="text" > 
      <p>Пароль</p>
      <input name="password" type="password">
      <input id="enter_button" type="button" onclick="main()" value="Войти">
      <input id="reg_button" type="button" onclick="registration()" value="Регистрация">
  </form>

