
  <title>Вход</title>
  
  <div id="login_container">
      <div id="text_enter">Вход</div>
      <div>Логин</div>
      <input name="login" type="text" > 
      <div>Пароль</div>
      <input name="password" type="password">
      <input id="enter_button" type="button" onclick="main()" value="Войти">
      <input id="reg_button" type="button" onclick="registration()" value="Регистрация">
  </div>
