
  <title>Профиль</title>

  <form id="profile_container">
    <h1 id="profile_text">Профиль</h1>
    <label>Поле для отображения в профиле</label >
    <input name="display_name" type="text" >
    <label >Имя</label >
    <input name="first_name" type="text" > 
    <label>Фамилия</label>
    <input name="second_name" type="text" > 
    <label>Логин</label>
    <input name="login" type="text"> 
    <label>Телефон</label>
    <input  name="phone" type="tel">
    <input  type="button" value="Аватар">
    <label>Пароль</label>
    <input name="password" type="password">
    <label>Повторите пароль</label>
    <input name="second_password" type="password">
    <input id="profile_button" type="button" onclick="main()" value="Изменить">
    <input  type="button" onclick="login()" value="Выйти">
</form>

