
  <title>Профиль</title>

  <form id="profile_container">
    <h1 id="profile_text">Профиль</h1>
    <p>Поле для отобраения в профиле</p>
    <input name="display_name" type="text" >
    <p>Имя</p>
    <input name="first_name" type="text" > 
    <p>Фамилия</p>
    <input name="second_name" type="text" > 
    <p>Логин</p>
    <input name="login" type="text"> 
    <p>Телефон</p>
    <input  name="phone" type="tel">
    <input  type="button" value="Аватар">
    <p>Пароль</p>
    <input name="password" type="password">
    <p>Повторите пароль</p>
    <input name="second_password" type="password">
    <input id="profile_button" type="button" onclick="main()" value="Изменить">
    <input  type="button" onclick="login()" value="Выйти">
</form>

