
  <title>Профиль</title>

  <div id="profile_container">
      <div id="profile_text">Профиль</div>
      <div>Поле для отобраения в профиле</div>
      <input name="display_name" type="text" >
      <div>Имя</div>
      <input name="first_name" type="text" > 
      <div>Фамилия</div>
      <input name="second_name" type="text" > 
      <div>Логин</div>
      <input name="login" type="text"> 
      <div>Телефон</div>
      <input  name="phone" type="tel">
      <input  type="button" value="Аватар">

      <div>Пароль</div>
      <input name="password" type="password">
      <div>Повторите пароль</div>
      <input name="second_password" type="password">
      <input id="profile_button" type="button" onclick="main()" value="Изменить">
      <input  type="button" onclick="login()" value="Выйти">
  </div> 
