
  <title>Профиль</title>

  <div id="profile_container">
      <div id="profile_text">Профиль</div>
      <div>Имя</div>
      <input id="first_name" type="text" > 
      <div>Фамилия</div>
      <input id="second_name" type="text" > 

      <div>Логин</div>
      <input id="login" type="text" > 
      <div>Телефон</div>
      <input type="tel" id="phone" name="phone"  >
      <div>Пароль</div>
      <input id="password" type="password">
      <div>Повторите пароль</div>
      <input id="password" type="password">
      <input id="profile_button" type="button" onclick="main()" value="Изменить">
      <input  type="button" onclick="login()" value="Выйти">
  </div> 
  