
<title>Регистрация</title>


<form id="reg_container">

    <h1 id="reg_text">Регистрация</h1>
    <p>Имя</p>
    <input name="first_name" type="text" > 
    <p>Фамилия</p>
    <input name="second_name" type="text" > 

    <p>Логин</p>
    <input name="login" type="text" > 
    <p>Телефон</p>
    <input name="phone" type="tel" >
    <p>Пароль</p>
    <input name="password" type="password">
    <p>Повторите пароль</p>
    <input name="second_password" type="password">
    <input id="enter_button"  type="button" onclick="main()" value="Зарегистрироваться">
    <input id="reg_button" type="button" onclick="login()" value="Выйти">
</form>

