
<title>Регистрация</title>


<div id="reg_container">
    <div id="reg_text">Регистрация</div>
    <div>Имя</div>
    <input name="first_name" type="text" > 
    <div>Фамилия</div>
    <input name="second_name" type="text" > 

    <div>Логин</div>
    <input name="login" type="text" > 
    <div>Телефон</div>
    <input name="phone" type="tel" >
    <div>Пароль</div>
    <input name="password" type="password">
    <div>Повторите пароль</div>
    <input name="second_password" type="password">
    <input id="enter_button"  type="button" onclick="main()" value="Зарегистрироваться">
    <input id="reg_button" type="button" onclick="login()" value="Выйти">
</div>
