
<form id="reg_container">

    <h1 id="reg_text">Регистрация</h1>
    <label>Имя</label>
    <input name="first_name" type="text" > 
    <label>Фамилия</label>
    <input name="second_name" type="text" > 

    <label>Логин</label>
    <input name="login" type="text" > 
    <label>Телефон</label>
    <input name="phone" type="tel" >
    <label>Пароль</label>
    <input name="password" type="password">
    <label>Повторите пароль</label>
    <input name="second_password" type="password">
    <input id="enter_button"  type="button" onclick="main()" value="Зарегистрироваться">
    <input id="reg_button" type="button" onclick="login()" value="Выйти">
</form>

